/*RESET*/
*{margin:0;padding:0}
header{justify-content: space-between}
header nav ul li, header h1 {margin: 20px;}

/*CONTAINER*/
.flex-row{display:flex;flex-direction:row; flex-wrap: wrap}
.flex-column{display:flex;flex-direction:column;}
.div{height: 150}

/*CENTRAGE*/
.ct-horizontale{justify-content: center;}
.ct-verticale{align-items: center;}
.ct-verticale-bw{justify-content: space-between;}

/*ITEMS*/
.desk1{width: 100%}
.desk2{width: 50%}
.desk4{width: 25%}

.desk11{height: 100%;}

.desk10{width:100%; height: 850px; margin-left: 8%; margin-right: 8%;}

/*COLORS*/
.bg-black{background-color: black}
.bg-black > *{color: white}
.bg-red{background-color: red}
.bg-blue{background-color: blue}
.bg-pink{background-color: pink}
.bg-purple{background-color: purple}
.bg-brown{background-color: brown}
.bg-yellow{background-color: yellow}
.bg-green{background-color: green}
.bg-orange{background-color: orange}
.bg-couleur-officiel{background-color: #ff3131;}
.bg-gray{background-color: #cdcbcb;}
.bg-white{color:white;}

/*MEDIA*/
/*LG*/
@media screen and (max-width: 1200px) {}
/*MD*/
@media screen and (max-width: 980px) {}
/*SM*/
@media screen and (max-width: 768px) {
    .desk2{width: 100%}
    .desk4{width: 50%}
}
/*XS*/
@media screen and (max-width: 576px) {
    .desk4{width: 100%}
}

/*LOGO*/
.logo{margin-left: 45px;}

/* PADDING */
.padding{padding:15px;}